<div class="loader"></div>
  <section class="vh-100 w-100">
    <div class="container ">
        <div class="row d-flex justify-content-center ">
            <div class=" col-xl-5">
                <div class="card border-0 rounded-0">
                    <div class="card-body p-5">
                        <div class="md-5">
                            <div class="brand-logo d-flex justify-content-center mb-5">
                                <h3>Admin</h3>
                            </div>
                            <form [formGroup]="adminFormData" (ngSubmit)="verify()">
                            <div class="form-white mb-3">
                                <label class="form-label mb-0">Admin Name</label>
                                <input type="email" formControlName="adminname" class="form-control form-control-md" placeholder="Adminname" [ngClass]="{ 'is-invalid': submitted && f.adminname.errors }" />
                                <div *ngIf="submitted && f.adminname.errors" class="invalid-feedback">
                                    <div *ngIf="f.adminname.errors.required">User Name is required</div>
                                </div>
                            </div>
                            <div class="form-outline form-white mb-2">
                                <label class="form-label mb-0">Password</label>
                                <input type="password" formControlName="password" class="form-control form-control-md" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            
                            <button class="btn btn-md btn-success col-12 fw-bold" type="submit" >LOGIN</button>
                            </form>
                        </div>

                        

                        
                    </div>
                    <div *ngIf="alertmsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>USERNAME AND PAASWORD IS WRONG!</strong>
                        <button type="button" class="close cross" data-dismiss="alert" aria-label="Close" (click)="closealert()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                </div>
            </div>
        </div>
    </div>
</section>
